*{
  font-family: inherit;
}

body{
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

nav{
  position: relative;
  top: 0;
  left: 0;
  height: 60px;
  line-height: 60px;
  background: #FFFFFF;
  border-bottom: solid 1px rgba(14, 13, 13, 0.15);
  width: 100%;
  vertical-align: middle;
  padding: 0 70px;
  display: inline-block;
}


.number{
  width: 11%;
  border-right: solid 1px rgba(14, 13, 13, 0.15);
  float: left;
}

.icon{
  height: 14px;
  width: 13px;
  vertical-align: text-top;
}

.free-quote{
  float: right;
  width: 11%;
  text-align:center;
  border-right: solid 1px rgba(14, 13, 13, 0.15);
  border-left: solid 1px rgba(14, 13, 13, 0.15);


}

.websites-logos{
  float: right;
  width: 2%;
}

.websites-logos   > a > img {
  opacity: 30%
}

.post-content{
  position: relative;
  width: 100%;
}

.nav-main{
  top: 0;
  height: 90px;
  line-height: 90px;
  padding: 0 70px;
  vertical-align: middle;
  position: relative;
}

.heading-main {
  width: 15%;
  min-width: 150px;
  float: left;
  font-weight: bolder;
  font-size:large;
}

.logo{
  height: 28px;
  width: 28px;
  vertical-align: middle;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float:right;
  text-decoration: none;
  display: block;
}

li {
  float: left;
}

li:last-child {
  border-right: none;
}

li:first-child {
  border-right: none;
}

li a {
  display: block;
  padding-left: 30px;
  text-decoration: none;
  color: BLack;
  float:left
}

li a:hover{
  color: #1b93d8;
  text-decoration: none;
}

.active {
  color: #1b93d8;
}

.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.bg{
  max-width: 100%;
}

.projects{
  margin: 120px 90px;
}

.categories{
  position: relative;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  opacity: 45%;
  margin-bottom: 55px;
}

.category{
  margin: 20px 0;
  border: solid 1px rgba(14, 13, 13, 0.15);
  border-radius: 5px;

}

.category-img{
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.category-detail{
  margin: 40px 20px;
  justify-content: left;
}

.category-detail h4,p{
  opacity: 70%
}
.opaque{
  opacity: 50%
}
.spacing{
  padding-top: 100px;
}

.product-detail{
  margin: 20px 0;
  text-align: center;
  opacity: 70%;
}

.blue-bg{
  position: relative;
  background: url("/home/dev/Desktop/UI/background/xn3.png") no-repeat;
  background-size:cover;
}

.vague{
  position:relative;
  background-color: #1b93d8;
  opacity: 40%;
  z-index: 1;

}

.testimony{
  position: relative;
  margin: 40px 5px;
  padding: 20px;
  background: #FFFFFF;
  text-align: left;
  opacity: 100%;
  z-index: 2;
}

.profile{
  height: 50px;
  width: 50px;
  z-index: -1;

}

.hidden-black{
  background: rgb(46, 43, 43);
  display: none;
  text-align: center;
}

.rating{
  margin: 15px 5px 10px 5px;
  color: #FFFFFF;
  text-align: center;
}

.circle{
  transform: rotate(45deg);
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: white white white black;
  height: 120px;
  width: 120px;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
  opacity: 100%;
  padding: 22px
}

.mini-circle{
  transform: rotate(-45deg);
  border-radius: 50%;
  background-color: #1b8cd8;
  height: 70px;
  width: 70px;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
  opacity: 100%;
}

.solution-partner{
  margin: 15px 5px 10px 5px;
  color: #FFFFFF;
  text-align: left;
  opacity: 85%;
  line-height: 80%;
}

.solution-partner h1 {
  line-height: 80%;
}

.solution-partner p {
  line-height: 1.6;
}

.mobile-nav{
  padding: 25px 15px 0 0;
  float:right;
  display: none;
}
.menu-icon{
  width: 35px;
  height: 5px;
  background-color: #1b93d8;
  margin: 6px 0;
}
